# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Appium / Emulator
*.bin
*.img
*.lock
*.pb
*.ini
*.avd/
.android/
anaconda/
.DS_Store

# Allure report
allure-results/
allure-report/

# IDE
.idea/
.vscode/
